<%- include('header') -%> <%- include('navbar', {isAuthenticated: true}) %> <%-
<div>
  <div class="container">
    <div class="row p-5 justify-content-center">
      <div
        class="
          col-4
          border border-1 border-dark
          justify-content-center
          text-center
        "
      >
        <h2 class="text-dark mt-1">
          <p>TODAY’S EVENTS</p>
        </h2>

        <div id="todays_events">
          <% todays.forEach(element => { %> <%- include('common_event_card',
          {event: element, isToday: true}) %> <% }); %>
        </div>
      </div>
      <!-- THIS IS THE END OF ONE EVENT CARD -->
      <div
        class="
          col-8
          border border-1 border-dark
          justify-content-center
          text-center
        "
      >
        <div class="d-flex justify-content-lg-between mb-3 mt-1">
          <input
            class="w-50 float-start form-control mr-sm-2 border-warning"
            type="search"
            placeholder="Search for events..."
            aria-label="Search"
          />
          <a type="button" class="btn btn-warning" href="/events/add">
            + ADD EVENT
          </a>
        </div>

        <div id="all_events" class="d-flex flex-wrap">
          <% events.forEach(function(item){ %>
    
            <%- include('common_event_card', {event: item, isToday: false}) %>
            <% }); %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%- include('footer') -%>
</div>
