<%- include('header') -%> <%- include('navbar', {isAuthenticated: true}) %>
<div class="container">
  <div class="row border border-1 border-dark justify-content-center mt-5">
    <div class="col-3 justify-content-start">
      <h5 class="text-success">GOING</h5>
      <div class="d-inline-flex flex-wrap">
        <% event.going.forEach(function(user) { %>
        <p><%- user.username %>,</p>

        <% }); %>
      </div>

      <h5 class="text-danger">SKIP</h5>
      <div class="d-inline-flex">
        <% event.skip.forEach(user => { %>
        <p><%- user.username %>,</p>

        <% }); %>
      </div>
    </div>

    <div class="col-6 d-flex flex-column">
      <div class="d-flex justify-content-center">
        <img
          src="/imagestore/<%- event.image %> "
          class="rounded d-block h-75 w-75"
          alt="logo"
        />
      </div>
      <h5 class="text-center"><%- event.date.toLocaleString()%></h5>
      <div class="d-flex flex-column">
        <h1 class="text-center"><%- event.title %></h1>
        <p><%- event.description %></p>
      </div>
    </div>

    <div class="col-3">
      <h4 class="text-center">Let others know your choice</h4>
      <div class="d-flex justify-content-center">
        <a
          class="btn btn-success mx-1 px-2"
          href="/action/going/<%- event._id %>/true"
          >GOING</a
        >
        <a
          class="btn btn-danger mx-1 px-2"
          href="/action/going/<%- event._id %>/false"
          >SKIP</a
        >
      </div>
    </div>
  </div>
</div>
<%- include('footer') -%>
