<%- include('header') -%> <%- include('navbar', {isAuthenticated: true}) %>
<div class="container">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center" id="exampleModalLongTitle">
          UPDATE YOUR EVENT
        </h5>
      </div>
      <form method="post">
        <div class="modal-body">
          <div class="d-flex justify-content-center">
            <img
              class="card-img h-50 w-50"
              src="/imagestore/<%- event.image %>"
              style="max-width: 18rem bg-image"
              alt="Card image"
            />
          </div>
          <div class="container">
            <div class="row">
              <div class="col-6">
                <div class="form-group">
                  <label for="exampleFormControlInput1">Event name </label>
                  <input
                    type="text"
                    name="event_name"
                    class="form-control"
                    id="exampleFormControlInput1"
                    value="<%- event.title %>"
                    placeholder="Your event name"
                  />
                </div>
              </div>

              <div class="col-6">
                <div class="form-group">
                  <!--TODO value should be: YYYY-MM-DDThh:mm-->
                  <input
                    type="datetime-local"
                    value="<%-  event.date.toISOString() %>"
                    name="event_date"
                    class="mt-4"
                  />
                </div>
              </div>
              <div class="form-group mt-4">
                <label for="exampleFormControlTextarea1"
                  >Event description</label
                >
                <textarea
                  name="event_description"
                  class="form-control"
                  id="exampleFormControlTextarea1"
                  rows="3"
                  placeholder="Your event description"
                >
<%- event.description %></textarea
                >
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer d-flex justify-content-center">
          <button type="submit" class="btn btn-warning">DONE</button>
          <a
            href="/profile"
            type="button"
            class="btn btn-light"
            data-dismiss="modal"
          >
            Close
          </a>
        </div>
      </form>
    </div>
  </div>
</div>
<%- include('footer') -%>
