<%- include('header') -%>

<%- include('navbar', {isAuthenticated: true}) %> 


  <div>
    <div class="container">
      <div class="row p-5 justify-content-center">
        <div
          class="
            col-4
            border border-1 border-dark
            justify-content-center
            text-center
          "
        >
          <h2 class="text-dark">Your profile</h2>
          <img
            id="userAvatar"
            src=""
            class="rounded-circle border border-1 h-50 w-50"
          />
          <input
            type="text"
            class="form-control mt-5"
            id="userNameInput"
            placeholder="Username"
          />
          <a class="btn btn-warning mt-3">DONE</a>
        </div>
        <div
          class="
            col-8
            border border-1 border-dark
            justify-content-center
            text-center
          "
        >
          <div class="d-flex justify-content-lg-between">
            <h2 class="text-dark">Events created by you</h2>
          </div>
          <div id="my_events" class="d-flex flex-wrap">
            <% user_events.forEach(event=>{%> 
              <div class="card border-dark mb-3 mx-3 rounded-3 just" style="max-width: 18rem">
                <div class="bg-image">
                  <img
                    class="card-img"
                    src="<%- event.image %> ",
                    style="max-width: 18rem bg-image"
                    alt="Card image"
                  />
                </div>
                <div class="card-img-overlay text-dark">
                  <div class="d-flex justify-content-between">
                    <h5 class="text-truncate" style="max-width: 200px;">
                      <%- event.title %>                    </h5>
                    <div class="float-end">
                      <a href="/profile/edit/:12">
    
                        <i class="far fa-edit" id="eventFavorite"style="cursor: pointer; color:orange"></i>
                      </a>  
                      <a href="">
    
                        <i class="fas fa-trash" id="eventFavorite"
                        element.id
                      }) style="cursor: pointer; color:red"></i>
                    </a>
                    </div>
                   </div>
                  <p class="card-text text-light text-truncate">
                    <%- event.description %>                  </p>
                </div>
                <div class="card-footer bg-transparent border-dark">
                  <div class="d-flex justify-content-between">
                    <h5 class=><%- event.date.toLocaleDateString() %> </h5>
                    <div class=>
                        <a class="btn btn-success mx-1 px-2" href="">GOING</a>
                        <a class="btn btn-danger mx-1 px-2" href="">SKIP</a>
                    </div>
                  </div>
                </div>
              </div>
              <%});%> 
          
          </div>
        </div>
      </div>
    </div>
  </div>
  <%- include('footer') -%>

